{% extends 'base.html' %}

{% block title %}Acerca de{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h1>Acerca de la Aplicación</h1>
        <p>Bienvenido a esta gestión de datos geográficos.</p> 
        <p>Está diseñado para facilitar el registro y la administración de información sobre países, departamentos y municipios.</p>

        <h4>Características Principales</h4>
        <ul>
            <li><strong>Registro de Datos:</strong> Permite ingresar y editar fácilmente.</li>
            <li><strong>Búsqueda Rápida:</strong> Encuentra información específica de manera eficiente a través de búsqueda.</li>
            <li><strong>Interfaz Amigable:</strong> Disfruta de una experiencia de usuario intuitiva que simplifica la navegación.</li>
        </ul>
    </div>
    <div class="col-md-8 text-center">
        <img src="https://cdn-icons-png.flaticon.com/512/3357/3357329.png" class="img-fluid" style="max-width: 100%; height: auto; max-height: 200px;">
    </div>
</div>
{% endblock %}
