body {
    font-family: 'Arial', sans-serif;
    background-color: #e9ecef; /* Fondo gris claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white; /* Fondo blanco para el contenedor */
    padding: 40px; /* Espaciado interior */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra para un efecto elevado */
    width: 300px; /* Ancho del contenedor */
}

h2 {
    color: #007bff; /* Color azul para el título */
    margin-bottom: 20px; /* Espaciado debajo del título */
    text-align: center; /* Centramos el título */
}

.form-group {
    margin-bottom: 15px; /* Espaciado entre los grupos de formulario */
}

label {
    display: block; /* Que la etiqueta ocupe toda la línea */
    margin-bottom: 5px; /* Espaciado debajo de la etiqueta */
}

input[type="text"],
input[type="password"] {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espaciado interior */
    border: 1px solid #ced4da; /* Borde gris */
    border-radius: 5px; /* Bordes redondeados */
}

button {
    background-color: #007bff; /* Color de fondo azul */
    color: white; /* Color del texto en el botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interior */
    cursor: pointer; /* Cambia el cursor a puntero */
    font-size: 16px; /* Tamaño de la fuente */
    transition: background-color 0.3s ease; /* Animación de color de fondo */
    width: 100%; /* Botón de ancho completo */
}

button:hover {
    background-color: #0056b3; /* Color de fondo más oscuro en hover */
}

